header.header {
    background-color: white;
    min-height: 150px;
    box-shadow: 0px 1px 5px #888888;
}
div.redBand {
    height: 30px;
    width: 100%;
    background-color: rgb(172, 26, 29);
    font-size: 16px;
    text-align: left;
    vertical-align: center;
    color: white;
}
div.wrappHeader {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
section.siteLogo {
    min-height: 90px;
    padding-top: 10px;
    background-image: url("images/logo.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 90px 90px;
    position: relative;
}
div.siteTitle {
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 50px;
    text-align: center;
    width: 100%;
    margin-left: -50%;
    margin-top: 20px;
    padding-right: 40px;
    position: absolute;
    left: 50%;
}

/* style for the menu barre */
.showSmall {
   display: none;
}
table.menu {
   border: 0px;
   width: 100%;
}
table.menu tr td {
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.menu-item a:hover {
    background-color: #F4D5D5;
}
.current-menu-item a {
    background-color: #AC1A1D;
    color: white;
}
.current-menu-item a:hover {
    background-color: #AC1A1D;
    color: white;
}
table.menu-red-band {
   border: 0px;
   width: 40%;
}
table.menu-red-band tr td {
    text-transform: uppercase;
    font-size: 12 px;
    vertical-align: center;
}
.menu-red-band-item a {
    color: white;
}

@media (max-width: 640px) {
   header.header {
        background-color: white;
        min-height: 50px;
    }
   .showBig {
   display: none;
   }
   .showSmall {
      display: block;
      border: 1px solid black;
   }
   table.menu tr td {
      vertical-align: middle;
   }
   section.siteLogo {
    min-height: 70px;
    background-size: 70px 70px;
   }
   div.siteTitle {
      font-size: 20px;
      text-transform: uppercase;
      word-spacing: 30px;
      text-align: center;
      width: 100%;
      margin-left: -50%;
      margin-top: 20px;
      padding-right: 20px;
      position: absolute;
      left: 50%;
   }
}
