header.header {
    background-color: white;
    min-height: 150px;
    box-shadow: 0px 1px 5px #888888;
}
div.redBand {
    height: 30px;
    width: 100%;
    background-color: rgb(172, 26, 29);
}
div.wrappHeader {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
section.siteLogo {
    min-height: 90px;
    padding-top: 10px;
    background-image: url("images/logo.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 90px 90px;
}
div.siteTitle {
    font-size: 30px;
    max-width: 460px;
    word-spacing: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    margin-top: 20px;
    text-transform: uppercase;
}

/* style for the menu barre */
table.menu {
   border: 0px;
   width: 100%;
}
table.menu tr td {
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.menu-item a:hover {
    background-color: #F4D5D5;
}
.current-menu-item a {
    background-color: #AC1A1D;
    color: white;
}
.current-menu-item a:hover {
    background-color: #AC1A1D;
    color: white;
}

@media (max-width: 640px) {
   header.header {
        background-color: white;
        min-height: 50px;
    }
}
