<div id="pageDiscover" class="pageContent">
  <div class="defaultText">
    <h1>Les épreuves précédentes</h1>
    <div class="section">
      <h2>Accès aux épreuves précédentes</h2>
      <p>Les épreuves du premier tour sont <a href="http://epreuve.concours-alkindi.fr" target="_blank">accessibles ici</a>.
      </p>
      <p>
      <p class="txtcenter mtl"><a href="http://epreuve.concours-alkindi.fr" target="_blank"><img src="images/exercicesTour1_2016.jpg" width="400" /></a>
      </p>
      <h2>Corrections vidéos des épreuves précédentes</h2>
      <p>Regardez les vidéos de corrections des exercices du premier tour 2017-2018 sur la chaîne Youtube d'Inria !</p>
    </div>

    <div class="section">
	    <h2>Vidéos</h2>
      <div ng-controller="VideosLists" class="videos">
        <ul class="videosList">
          <li ng-repeat="video in videosPreviousContests" ng-click='setActiveItem(video)' ng-class='activeItem==video ? "active" : ""'>
            <div ng-if='activeItem==video'><iframe width="800" height="450" ng-src="{{video.source | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
            <img ng-show='activeItem!==video' src="{{video.thumbnail}}">
            <div>{{video.title}}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="section">
      <p>Les coordinateurs/coordinatrices ont accès à l'ensemble des résultats de leurs équipes sur leur <a href="http://coordinateur.concours-alkindi.fr" target="_blank" >interface</a>.</p>
      <p>Voici les sujets de la <a target="new" href="docs/Sujets-finale-2020.pdf">finale 2020</a>, de la <a target="new" href="docs/sujet2019.pdf">finale 2019</a>, de la <a target="new" href="docs/Sujets-finale-Alkindi-2018.pdf">finale 2018</a>, de la <a target="new" href="docs/sujets2017.pdf">finale 2017</a> et de la <a target="new" href="docs/sujets2016.pdf">finale 2016</a>.
      </p>
    </div>

	  	       <div class="section">
      <h2>Les lauréat·e·s de l'édition 2019-2020</h2>
      <p>Plus de 65 000 élèves ont participé au premier tour dans les 30 académies françaises. Merci à tou·te·s !</p>
      <p>Félicitations aux trois équipes gagnantes :</p>
      <ul>
        <li>Les trois premiers prix ont été remportés par trois équipes du lycée franco-allemand de Buc, félicitations aux élèves :</li>
	<li>Aurore G., Alain T., Théo C., Romain C., Noelie R., Matthieu C., Anatole C., Aimeric D., Maïten J., Théo H., Itaï I. et Luc E./li>
      </ul>
      <p>Nous offrons des lots à toutes les équipes finalistes ainsi que la meilleure équipe de chaque académie.</p>
    </div>
	       <div class="section">
      <h2>Les lauréat·e·s de l'édition 2018-2019</h2>
      <p>Plus de 60 000 élèves ont participé au premier tour dans les 30 académies françaises. Merci à tou·te·s !</p>
      <p>Félicitations aux trois équipes gagnantes :</p>
      <ul>
        <li>Les trois premiers prix ont été remportés par trois équipes du lycée franco-allemand de Buc, félicitations aux élèves :</li>
	<li>Ulysse B, Victor J., Léa V., Samy M., Louis F., Grégoire C., Maher B., Virgile T., Jeanne M., Yassir B., Aurélien F. et Irene M.</li>
      </ul>
      <p>Les meilleures équipes de chaque académie ont été invitées à visiter un centre de recherche universitaire ou industriel, pour un total de <a href="#/pageVisits">18 laboratoires</a>.</p>
    </div>
    
     <div class="section">
      <h2>Les lauréat·e·s de l'édition 2017-2018</h2>
      <p>Plus de 52 000 élèves ont participé au premier tour, inscrit·e·s par 1062 enseignant·e·s. Merci à tou·te·s !</p>
      <p>Félicitations aux trois équipes gagnantes :</p>
      <ul>
        <li>Premier prix : William B., Cédric S., Thomas H. et Thien-An T. du Lycée International de l'Est Parisien à Noisy-le-Grand (académie de Créteil).</li>
        <li>Deuxième prix : Robin M. et Nathan H. de l'Institut Notre Dame de Saint-Germain-en-Laye (académie de Versailles).</li>
        <li>Troisième prix : Baptiste V., Léo C., Claire V. et Solal M. du Lycée Claude Monet	de Paris (académie de Paris).</li>
      </ul>
      <p>Les 10 meilleur·e·s élèves de chaque académie ont été invité·e·s à visiter un centre de recherche universitaire ou industriel, pour un total de 24 laboratoires.</p>
    </div>

    <div class="section">
      <h2>Les lauréat·e·s de l'édition 2016-2017</h2>
      <p>Le nombre de participant·e·s a dépassé 47 000 élèves et le nombre d'enseignant·e·s 1500. Merci à tou·te·s !</p>
      <p>Félicitations aux trois équipes gagnantes :</p>
      <ul>
        <li>Premier prix : Maëna Q., Cyprien D., Pierre A. et Vianney L. du Collègue-lycée Franco-Allemand, Buc, académie de Versailles.</li>
        <li>Deuxième prix : Clara W., Centre de formation des apprentis Heinrich Nessel, Haguenau, académie de Strasbourg.</li>
        <li>Troisième prix : Jean Z., Yanis J., Giani N. et Hugo G. Lycée Algoud-Laffemas, Valence, académie de Grenoble.</li>
      </ul>
      <p>Les 10 meilleur·e·s élèves de chaque académie ont été invité·e·s à visiter un centre de recherche universitaire ou industriel, pour un total de 22 laboratoires.</p>
    </div>

    <div class="section">
      <h2>Les lauréat·e·s de l'édition 2015-2016</h2>
      <p>Plus de 17 000 élèves ont participé à la première édition du concours, coordonné·e·s par plus de 500 enseignant·e·s. Merci à tou·te·s les élèves et enseignant·e·s pour leur participation.</p>
      <p>Félicitations aux trois équipes gagnantes :</p>
      <ul>
        <li>Premier prix : Clara D., Olivier F., Sandy R. et Sébastien B. du Lycée Blaise Pascal, Orsay.</li>
        <li>Deuxième prix : Hugo T., Loïc T., Louise R. et Paul T du Lycée Henri IV, Paris.</li>
        <li>Troisième prix : Laurine S., Ambroise F., Clément W et Nunzia R du Lycée Henri IV, Paris.</li>
      </ul>
    </div>

  </div>
</div>

