<div id="homeVisual">
  <img src="images/Affiche-Alkindi-2019-2020_visuel-site" />
  <!--
  <div ng-app="app" class="countdownWrapper">
    <div class="countdownInnerWrapper">
      <h2>Début du concours dans …</h2>
      <div countdown='' date='2019-12-09T07:00:00Z'></div>
    </div>
  </div>
  -->
  <div class="mainTeaser">
    <iframe width="560" height="450" src="https://www.youtube.com/embed/jt_EYiD3rOQ?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div id="monActu"></div>
<div id="pageMain" class="pageContent">

  <div class="defaultText">
    <h1 class="pageTitle">Alkindi, c’est quoi ?</h1>

    <div class="section">
      <p class="subtitle">Le concours Alkindi est une compétition de cryptographie ouverte aux classes de 4e, 3e et 2de. Il est organisé par les associations <a href="http://www.animath.fr" target="_blank">Animath</a> et <a href="http://www.france-ioi.org" target="_blank">France-ioi</a>. La participation est entièrement gratuite.</p>
    </div>

    <div class='section'>
      <h2>Déroulement</h2>
      <p>Le concours 2021-2022 comporte <strong>deux premiers tours accessibles sans sélection</strong>. Une phase de préparation permet ensuite de se qualifier au <strong>troisième tour</strong>, à l’issue duquel les 20 meilleures équipes accèdent à la <strong>finale</strong>.</p>
      <ul>
        <li>Du lundi 6 décembre au vendredi 17 décembre : le <strong>premier tour</strong> est une épreuve de 45 minutes sur ordinateur ou tablette, à laquelle on peut participer seul·e ou en binôme, sous la surveillance d'un·e enseignant·e. Il s’agit d’une série de problèmes interactifs pour découvrir divers aspects de la cryptanalyse. Les épreuves des années précédentes peuvent être testées sur <a href="https://epreuve.concours-alkindi.fr/">epreuve.concours-alkindi.fr</a>.
        <li>Du mardi 1er février au lundi 28 février : le <strong>deuxième tour</strong> est une épreuve au même format que le 1er tour mais avec seulement trois sujets plus longs que ceux du 1er tour.
        <li>Du mardi 1er mars au vendredi 15 avril : une <strong>phase de préparation et qualification au troisième tour</strong> est à faire par équipes, en classe et/ou à la maison sur les sujets du 3e tour. Chaque équipe doit alors atteindre un seuil de points prédéterminés pour se qualifier au 3e tour.
        <li>Du lundi 21 mars au vendredi 15 avril : le <strong>troisième tour</strong> est une épreuve constituée des mêmes sujets que la phase de préparation, mais à résoudre avec de nouvelles données et en une heure et demie, par équipes et sous la surveillance d'un·e enseignant·e. Seule cette épreuve compte pour la sélection en finale.
        <li>Le mercredi 18 mai : la <strong>finale</strong> est une épreuve de 2 heures. Les sujets des années précédentes sont disponibles <a href="https://concours-alkindi.fr/#/pagePrevious">sur cette page</a>). Les élèves assisteront à des ateliers de cryptographie donnés par des chercheurs, avant la cérémonie de clôture, lors de laquelle les résultats seront annoncés, avec la participation de nos différents partenaires.</li>
      </ul>
      <p>
         Pour plus de détails sur le déroulement des tours, consultez le <a href='#/pageManual'>manuel du concours</a>.
      </p>

      <h3>Vous êtes enseignant·e et souhaitez inscrire vos classes ?</h3>
      <p>L'organisation est très simple. Vous pouvez à tout moment devenir coordinateur/coordinatrice sur <a href="https://coordinateur.concours-alkindi.fr" >coordinateur.concours-alkindi.fr</a>. Vous pouvez inscrire vos élèves jusqu'à la fin du premier tour.</p>

      <h3>Vous êtes élève en 4e, 3e ou 2nde ?</h3>
      <p>L'inscription doit passer par un·e enseignant·e de votre établissement. Parlez du concours à vos enseignant·e·s et transmettez-leur l'adresse <a href="http://concours-alkindi.fr">concours-alkindi.fr</a>.</p>
    </div>

    <div class="section">
      <h2>Objectifs</h2>
      <p>La sécurité des données numériques et de leur transmission est un des enjeux majeurs de notre société, que ce soit pour sécuriser les transactions bancaires ou garantir la protection de la vie privée. L'objectif du concours est de montrer aux élèves que les mathématiques et l’informatique permettent de comprendre les outils utilisés dans ce domaine.</p>
      <p>Nous souhaitons faire découvrir aux élèves cette application très concrète des mathématiques, qui joue un rôle fondamental dans leur vie quotidienne. Nous voulons les faire réfléchir, de façon ludique, aux fondements mathématiques, informatiques et logiques de la cryptanalyse. Enfin, nous souhaitons les sensibiliser à la question importante de la sécurité de l’information.</p>
      <p>Ce concours rentre dans le cadre de la Stratégie mathématiques et du plan École numérique du Ministère de l’Éducation nationale.</p>
    </div>

    <div class="section">
      <h2>Qui peut participer ?</h2>
      <p class="subtitle">Tou·te·s les élèves scolarisé·e·s en 4e, 3e ou 2de dans un établissement français.</p>
      <p class="subtitle">Les élèves d'autres classes peuvent faire les épreuves des deux premiers tours.</p>
      <div class="row">
        <div class="col one-half">
          <h3>Je n'ai jamais fait de crypto. C'est grave ?</h3>
          <p>Pas du tout. Au contraire, c’est le principe ! Ce concours s’adresse à des personnes qui n’ont jamais fait de cryptanalyse. Lors des épreuves en temps limité, toutes les informations nécessaires seront contenues dans le sujet.</p>
        </div>
        <div class="col one-half">
          <h3 class="txtright">Est ce que c'est difficile ?</h3>
          <p>Le concours est accessible à tou·te·s les élèves de quatrième, troisième et seconde. Lors de la première épreuve, ouverte à tou·te·s, chaque question comporte trois versions de difficulté croissante. Ainsi, chaque participant·e peut s’amuser à résoudre des défis adaptés à son niveau et découvrir les principes de base de la cryptographie. Pour le deuxième tour, il s'agit aussi surtout de faire preuve de persévérance et de bien travailler en équipe.</p>
        </div>
      </div>
      <div class="row">
        <div class="col one-half">
          <h3>Mais il faut quand même  être bon en maths ?</h3>
          <p>Pas nécessairement, certains problèmes font appel à certaines notions de fin de collège, mais les mathématiques ne sont pas la principale difficulté.</p>
        </div>
        <div class="col one-half">
          <h3 class="txtright">Alors qu’est-ce qu’il faut savoir ?</h3>
          <p>Il n’y a pas de prérequis autres que le programme de collège. Venez avec l’esprit ouvert, faites preuve de logique et suivez les consignes. Et surtout amusez vous !</p>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>Qu'est ce qu’on gagne ?</h2>
      <ul>
        <p>Nous offrons à chaque membre des trois meilleures équipes nationales un kit Raspberry Pi accompagné d'une carte <a href='https://quick-pi.org' target='_blank'>QuickPi</a>, dans l'objectif d'encourager les gagnants à l'apprentissage de la programmation.</p>
		    <p>Les autres équipes finalistes gagneront un livre sur les thèmes de la cryptographie, de l'informatique et des mathématiques.</p>
        <p>Les membres des 20 meilleures équipes nationales ainsi que de la meilleure équipe de chaque académie gagneront une <a href="#/pageVisits">invitation</a> à visiter un laboratoire de cryptographie, sous réserve que les conditions sanitaires le permettent.</p>
      </div>
   <div class="section">
     <h2>Sponsors et partenaires</h2>
     <p class="txtcenter">
       <img class="mrl mtml" src="images/logo_soutien.png" alt="DGSE"
   height="100px" style="vertical-align:middle">
       <img class="mrl mtml" src="images/2020_logo_menjs.jpg"
   alt="education-nationale" height="100px" style="vertical-align:middle">
       <img class="mrl mtml" src="images/logo_inria_rouge.png" alt="inria"
   width="150" style="vertical-align:middle">
  <!--     <img class="mtml" src="images/LogoThales.png" alt="Thales" width="150"
   style="vertical-align:middle">
  -->
     </p>
     <p class="txtcenter mtl">En apprendre plus sur les <a
   href="#/pageWhoAreWe">organisateurs, sponsors et partenaires du concours Alkindi.</a></p>
   </div>

    <div class="section" id="affiche">
      <h2>L'affiche</h2>

      <p>Pour faire connaître le concours dans votre établissement, n'hésitez pas à imprimer et diffuser notre affiche !
        L'affiche de l'édition 2021-2022 est téléchargeable <a target="new" href="docs/Affiche-Alkindi-2022-profA4">ici</a>. Vous pouvez retrouver les affiches des éditions précédentes dans la rubrique <a href='#/pagePrevious'>épreuves précédentes</a>.
 <!--     </p>
      <div style="float:left;padding:10px;padding-right:30px">
        <a href="docs/Affiche-Alkindi-2020-professeurA4.pdf" target="_blank"><img src="images/Alkindi-affiche-2020-capture.png" height="500" /></a>
      </div>
      <p>Versions en pdf à imprimer :</p>
      <p><a href="docs/Affiche-Alkindi-2020-professeurA4.pdf" target="_blank">Format A4 couleur (23Mo)</a></p>
      <p><a href="docs/Affiche-Alkindi-2020-professeurA4nb.pdf" target="_blank">Format A4 noir&blanc (15Mo)</a></p>
      <p>L'affiche contient 4 énigmes à déchiffrer !</p>   -->
	
      <p style="clear:both">Vous pouvez également relire la <a href="#pageBD">bande dessinée</a> associée au concours.</p>
<!--
      <p><a href="docs/Affiche-Alkindi-2019-professeurA3nb.pdf" target="_blank">Format A3 noir&blanc (22Mo)</a></p>
      <p><a href="docs/Affiche-Alkindi-2019-professeurA3-2.pdf" target="_blank">Format A3 couleur (22Mo)</a></p>
      -->
    </div>

    <div class="section">
      <h2>Vidéos</h2>
      <div ng-controller="VideosLists" class="videos">
        <ul class="videosList">
          <li ng-repeat="video in videosPresentation" ng-click='setActiveItem(video)' ng-class='activeItem==video ? "active" : ""'>
            <div ng-if='activeItem==video'><iframe width="800" height="450" ng-src="{{video.source | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
            <img ng-show='activeItem!==video' src="{{video.thumbnail}}">
            <div>{{video.title}}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="section">
      <h2>Qui était Al Kindi ?</h2>
      <p>Al Kindi est un savant arabe du IXe siècle qui s'est intéressé à de nombreuses sciences, allant de la géométrie à la médecine et à la chimie. Dans le « Manuscrit sur le chiffrement des messages cryptographiques », il explique comment casser les meilleurs codes connus à son époque, à l'aide de la technique de l'analyse de fréquence. C'est la première trace connue de cryptanalyse. Par conséquent, il est considéré comme l'un des fondateurs de la discipline.</p>
  </div>
</div>

