
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both
}
.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/*
*
* General Styles
*
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
}
a {
    color: #ed1846;
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
.txtcenter {
    text-align: center;
}
.txtright {
    text-align: right;
}
.txtbold {
    font-weight: bold;
}
.fr {
    float: right;
    margin-left: 10px;
}
.fl {
    float: left;
    margin-right: 10px;
}
.fr img {
    vertical-align: middle;
}
.mtm {
    margin-top: 10px;
}
.mtml {
    margin-top: 20px;
}
.mtl {
    margin-top: 40px;
}
.mrm {
    margin-right: 10px;
}
.mrl {
    margin-right: 40px;
}
.mll {
    margin-left: 40px;
}
.row {
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
img.icon {
    vertical-align: middle;
}
@media (min-width: 800px) {
    .one-half {
        width: 50%;
    }
}
.section {
    clear: both;
    text-align: justify;
    margin-top: 10px;
    padding: 0 10px;
}
p, ul {
    margin-top: 10px;
}

/*
*
* Layout
*
*/
.pageContent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


/*
*
* Branding
*
*/
.header {
    background-color: white;
    min-height: 150px;
    box-shadow: 0px 1px 5px #888888;
}
.subHeader {
    height: 30px;
    width: 100%;
    background-color: #ed1846;
    font-size: 16px;
    text-align: left;
    vertical-align: center;
    color: white;
}
.subHeader a img {
    filter: invert(1);
}
.siteLogo {
    padding-top: 10px;
}
.siteTitle {
    font-size: 30px;
    font-family: "Exo", serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    word-spacing: 20px;
}
.siteTitle img {
    vertical-align: middle;
}
@media (max-width: 800px) {
   .siteTitle {
        font-size: 20px;
        word-spacing: 10px;
    }
    .siteTitle img {
        width: 200px;
    }
}

/*
*
* Navigation
*
*/

#menu {
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu a {
    padding: 5px 20px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}
#menu a:hover {
    background-color: #F4D5D5;
}
#menu li.active a {
    background-color: #ed1846;
    color: #fff;
}


/*
*
* Content
*
*/
/* Titles */
h1, h2, h3 {
    font-family: "Exo", serif;
}
h1 {
    margin-top: 1em;
    margin-right: 20px;
    font-size: 48px;
    color: #ed1846;
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    margin-top: 1em;
    font-weight: normal;
    font-size: 2em;
    color: #ed1846;
    margin-bottom: 0;
    line-height: 1;
}
h3 {
    font-size: 1.5em;
    margin-top: 1em;
    color: #9a8585;
}
@media (max-width: 800px) {
    h3.txtright {
        text-align: left;
    }
}
.subtitle {
    font-size: 1.3em;
    text-align: center;
}
.section ul {
    list-style-type: square;
    margin-left: 3em;
}
.section ul ul {
    list-style-type: disc;
    margin-top: 0;
}
.three-cols-list {
    margin-left: 0;
}
.three-cols-list li {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    position: relative;
}
.three-cols-list.clickable {
    cursor: pointer;
}
.three-cols-list img {
    max-width: 100%;
}
.two-cols-list {
    margin-left: 0;
}
.two-cols-list li {
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: top;
    position: relative;
    padding: 20px;
}
.two-cols-list.clickable {
    cursor: pointer;
}
.two-cols-list img {
    max-width: 100%;
}
.mainContainer {position: relative;}

#homeVisual {
    display: block;
}
#homeVisual img {
    max-width: 100%;
    min-width: 100%;
}
@media (min-width: 1024px) {
    #monActu {
        width: 1024px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
#monActu ul {
    margin: 0 auto;
    padding: 10px;
    background-color: #ececec;
    background-color: rgba(236,236,236,0.85);
    box-shadow: 2px 2px 4px #ccc;
    border: 1px solid #ccc;
    text-align: center;
}
#monActu a {
    color: #ed1846;
}
/* Videos */
.videos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.videos li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 10px;
    font-size: 0.875em;
}
.videos li.active {
    display: block;
    width: 100%;
    text-align: center;
}
.videos img {
    max-width: 100%;
}
.cartoon {
    height: 350px;
    margin-top: 10px;
    margin-right: 30px;
    float: left;
}


/*
*
* Footer
*
*/
#footer {
    height: 60px;
    background-color: #ed1846;
    margin-top: 40px;
}
#copyright {
    text-align: center;
    padding-top: 20px;
    color: white;
}
#copyright a {
    color: white;
    text-decoration: underline;
}


.titreActu {
    width: 100%;
    font-size: 30px;
    color: #ed1846;
    padding-top: 20px;
    text-align: right;
}
.widgetActu {
    margin-top: 20px;
    text-align: right;
}
.widgetActu h3 {
    font-size: 24px;
    color: #ed1846;
}
.counterBlock {
    text-align: center;
    clear: both;
    background-color: #ed1846;
    color: #fff;
    padding-bottom: 8px;
    margin-top: 20px;
    width: 100%;
   /* uncomment following if you prefer the counter in the bottom */
/*    position: absolute;
    bottom: 0px;
    right: 0px;*/
}
#compte_a_rebours {
    text-align: center;
    font-size: 36px;
    padding: 5px;
    color: white;
}




/*other*/

#social-network {
    width: 100px;
    float: right;
}
#social-network a {
    color: #ed1846;
    font-weight: bold;
}
#short_code_si_icon img {
    margin-left: 1px;
    border: 0px !important;
    background: none !important;
    box-shadow: none !important;
}
#short_code_si_icon img:hover {
    opacity: 0.8;
}

.instructions {
   margin-bottom: 50px;
}

.instructions li{
    margin-top: 20px;
}

.instructions p{
    margin-top: 50px;
}

/*Responsive Media Queries, 780px */

@media (max-width: 780px) {
    /*Main content*/    
    .cartoon {
        display: none;
    }
    .blocQuiPeut {
        width: 100%;
        float: none;
    }
    .blocQuiPeutDroit {
        margin-left: 0px;
    }

    /*sidebar*/
    .sidebarContainer {
        margin-top: 10px;
        width: 180px;
        float: right;
        clear: both;
        margin-left: 10px;        
    }
    .titreActu {
        text-align: center;
    }
    .widgetActu {
        margin-top: 20px;
        text-align: center;
    }
}

/*Responsive Media Queries, 640px */

@media (max-width: 640px) {
    /*Main content*/
    .cartoon {
        display: none;
    }
   .pageAndSidebarContainer {
      min-width: initial;
      margin-left: 10px;
      margin-right: 10px;
    }
   .firstBlockNextToSidebar {
        width: 100%;
        min-width: initial;
    }
   .arabesqueTitle {
        font-size: 26px;
    }
   .squareTitle {
      font-size: 20px;
   }

   .alignright {
      margin: 5px 0 20px 10px;
      padding-left: 0;
   }
   .alignleft {
      margin: 5px 10px 20px 0;
      padding-right: 0;
   }

    /*Sidebar*/    
    .sidebarContainer {
        display: none;
    }
    
   .pageTitle {
      font-size: 20px;
   }
}
